.header{
     background-color:  #202429b6;
     
    .ma{
        color:#178bf8de;
        font-size: 20px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        &:hover {
            color:#178bf8de ;
        }
        > span{
        color:#00dbdb;
        font-size: 30px;
        font-weight: bold;
        }
    }
    
}