
$color-header-dark:#202429b6;
$color-header-darker:#202429f5;

$color-main:#00dbdb;
$color-main-soft:#029e9eab;
$colo-secondary:#0361b8de;
$color-soft-text : black;


.home-container{
    padding-top: 10px;
    
    
    .home-movies{
        padding-bottom: 10px;

        .head-movies{
            margin-right: 0;
            margin-left: 0;
            .poster-container{
                padding: 0;
                position: relative;
               &:hover {
                 cursor: pointer;
               }
               &:hover > .rating { 
                    display:block;
                }
                &:hover > .title { 
                  display:flex;
              }
              &:hover > .release_date { 
                display:block;
            }
          

                .rating {
                    position: absolute;
                    left:20px;
                    top:10px;
                    background-color: $color-main-soft;
                    border-radius: 10px;
                    display: none;
                    padding: 0 10px 0 10px;
                    span { 
                     color: white;
                     font-size: 30px;
                     padding: 0;
                    }
                  
                  }
             
                  .title {
                   position: absolute;
                   right:  5px;
                   bottom: 10px;
                   left: 5px;
                   background-color: $color-main-soft;
                   border-radius: 10px;
                   display: none;
                   span {
                     color: white;
                     padding: 10px  ;
                     font-size: 25px;
                    }
                  }
                  .release_date{
                   position: absolute;
                   right: 10px;
                   top: 10px;
                   background-color: $color-main-soft;
                   border-radius: 10px;
                   display: none;
                   span {
                     color:white;
                     padding: 20px;
                     font-size: 18px;
                     font-weight: bold;
                    }
                  }

                .poster-image{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
            }
          
        }
 
    }

    .sign-up {
        width: 100%;
        background-color:$color-header-dark ;
        padding: 40px 60px 60px 60px  ;
      
          .heading{
                 margin-bottom: 50px;
            h2 {
              font-size: 40px;
              color: $color-main;
              font-weight: bold;
              font-family: 'Times New Roman', Times, serif;
              margin-bottom: 10px;
              text-transform: uppercase;
      
            }
            p {
              font-size: 20px;
              color:$color-main;
              font-family: 'Times New Roman', Times, serif;
              height: 100%;
              text-transform: uppercase;
            }
          }
      
          .input-email {
            height: 100%;
          }
      
          @media (max-width:768px) {
            .input-email {
              margin-bottom: 10px;
            }
          }
      
       
      }


      //begin of footer 
      
.footer {
margin-top: 40px;
    padding: 30px 0;
    background-color:$color-header-darker ;

  .footer-brand {
  
     #brand-logo {
        color:#0361b8de;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
        span {
          font-size: 30px;
          color: $color-main;
          font-weight: bold;
        }
      }
  
      p{
        color:  white;
      }
  }
  
  .helpful-links {
  
  h6{
    color:$color-main;
    font-size: 25px;
     margin-bottom: 15px;
     margin-top: 15px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        color: white;
      }
    }
  }
  }
  
  .footer-address {
  h6{
    color: $color-main;
    font-size: 25px;
     margin-top: 15px;
     margin-bottom: 15px;
  
  
  }
  ul {
    list-style: none;
    color: white;
    padding: 0;
  }
  }
  
  
  
  }

  // end of footer
}