.signup{


    

    .signup-container{
            width: 50%;
            background-color: $color-header-dark;
            padding: 40px;
            margin-top: 40px;

        .signup-form{
        }
    
    
    }

  
    // .password-match{
    //     display: inline-block;
    // }
}